<!DOCTYPE html>
<html lang="en">
  <head>
    <title>다섯번째 결과물</title>
  </head>
  <body style="color:white">
    <div class="wrapper">
        <header id="header" class="parallax1">
            <div class="container">
                <div class="row ">
                     
                          <h1>여기는 게시판 지난 글입니다.</h1>
                                <%= @every_post.each do |p|%>
                                <%= p.erbtitle %> <br>
                                <%= p.erbcontent %> 
                                <%= p.created_at %>
                                <a href="/destroy/<%= p.id %>">[삭제]</a>
                                <hr>
                                <% end %>
                           <h1><a href="/fifth_index">게시판 글쓰러 가기</a></h1>   
                     </div>
        </header>
  </body>
    </div>  
</html>